In [8]:
#df.iloc[0,1]+pd.Timedelta(days=150)
#df[(df['Trddt']<pd.to_datetime('2010-10-01', format='%Y-%m-%d')) & (df['Stkcd'] == 1)].iloc[-1]
# df1q10 = df[df['d'] <= pd.to_datetime('2010-3-31', format='%Y-%m-%d')]
# df2q10 = df[(df['d'] <= pd.to_datetime('2010-6-30', format='%Y-%m-%d')) & (df['d'] >= pd.to_datetime('2010-4-1', format='%Y-%m-%d'))]
# from scipy import stats
# stats.ttest_1samp(df_12_12['buy-sell'], 0.0)

Timestamp('2010-06-03 00:00:00')

In [9]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('../quant/alldata.csv')
df

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,Dretwd,Dretnd,Adjprcwd,Adjprcnd,Markettype,Capchgdt,Trdsta,IndustryCode,IndustryName
0,1,2010-01-04,24.520,24.580,23.680,23.710,24192276,5.802495e+08,69330749.18,73629834.50,-0.027082,-0.027082,818.361203,710.377219,4,2009-10-15,1,480101.0,����
1,1,2010-01-05,23.750,23.900,22.750,23.300,55649982,1.293477e+09,68131862.33,72356606.65,-0.017292,-0.017292,804.209870,698.093176,4,2009-10-15,1,480101.0,����
2,1,2010-01-06,23.250,23.250,22.720,22.900,41214313,9.444537e+08,66962216.62,71114433.15,-0.017167,-0.017167,790.403692,686.108744,4,2009-10-15,1,480101.0,����
3,1,2010-01-07,22.900,23.050,22.400,22.650,35533685,8.041663e+08,66231188.06,70338074.71,-0.010917,-0.010917,781.774831,678.618474,4,2009-10-15,1,480101.0,����
4,1,2010-01-08,22.500,22.750,22.350,22.600,28854306,6.506674e+08,66084982.34,70182803.02,-0.002208,-0.002208,780.049059,677.120420,4,2009-10-15,1,480101.0,����
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8672604,900957,2022-01-24,0.633,0.638,0.615,0.621,479100,2.998840e+05,114264.00,216729.00,-0.026646,-0.026646,0.625923,0.620999,2,2000-08-03,1,620201.0,װ��װ��
8672605,900957,2022-01-25,0.617,0.620,0.607,0.611,372779,2.281030e+05,112424.00,213239.00,-0.016103,-0.016103,0.615844,0.610999,2,2000-08-03,1,620201.0,װ��װ��
8672606,900957,2022-01-26,0.614,0.617,0.610,0.614,222600,1.362910e+05,112976.00,214286.00,0.004910,0.004910,0.618868,0.613999,2,2000-08-03,1,620201.0,װ��װ��
8672607,900957,2022-01-27,0.610,0.613,0.605,0.612,245100,1.487580e+05,112608.00,213588.00,-0.003257,-0.003257,0.616852,0.611999,2,2000-08-03,1,620201.0,װ��װ��
8672608,900957,2022-01-28,0.615,0.618,0.608,0.617,214934,1.319240e+05,113528.00,215333.00,0.008170,0.008170,0.621892,0.616999,2,2000-08-03,1,620201.0,װ��װ��

### Keep only columns needed

In [3]:
df = df[['Stkcd', 'Trddt', 'Adjprcwd']]
df.columns = ['c', 'd', 'p']
df

              c           d           p
0             1  2010-01-04  818.361203
1             1  2010-01-05  804.209870
2             1  2010-01-06  790.403692
3             1  2010-01-07  781.774831
4             1  2010-01-08  780.049059
...         ...         ...         ...
8672604  900957  2022-01-24    0.625923
8672605  900957  2022-01-25    0.615844
8672606  900957  2022-01-26    0.618868
8672607  900957  2022-01-27    0.616852
8672608  900957  2022-01-28    0.621892

[8672609 rows x 3 columns]

### Convert date format

In [4]:
df['d'] = pd.to_datetime(df['d'], format='%Y-%m-%d')
df

<ipython-input-4-2233222d3d4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['d'] = pd.to_datetime(df['d'], format='%Y-%m-%d')

              c          d           p
0             1 2010-01-04  818.361203
1             1 2010-01-05  804.209870
2             1 2010-01-06  790.403692
3             1 2010-01-07  781.774831
4             1 2010-01-08  780.049059
...         ...        ...         ...
8672604  900957 2022-01-24    0.625923
8672605  900957 2022-01-25    0.615844
8672606  900957 2022-01-26    0.618868
8672607  900957 2022-01-27    0.616852
8672608  900957 2022-01-28    0.621892

[8672609 rows x 3 columns]

In [5]:
QUARTERS = ['2009-12-31']
for year in range(2010, 2022):
    for quarter in ['-3-31', '-6-30', '-9-30', '-12-31']:
        QUARTERS.append(f'{year}{quarter}')
        
all_res_cols = []
for i in range(3,15,3):
    for j in ['-buy', '-sell', '-buy-sell']:
        all_res_cols.append(f'{i}{j}')

QUARTERS

['2009-12-31',
 '2010-3-31',
 '2010-6-30',
 '2010-9-30',
 '2010-12-31',
 '2011-3-31',
 '2011-6-30',
 '2011-9-30',
 '2011-12-31',
 '2012-3-31',
 '2012-6-30',
 '2012-9-30',
 '2012-12-31',
 '2013-3-31',
 '2013-6-30',
 '2013-9-30',
 '2013-12-31',
 '2014-3-31',
 '2014-6-30',
 '2014-9-30',
 '2014-12-31',
 '2015-3-31',
 '2015-6-30',
 '2015-9-30',
 '2015-12-31',
 '2016-3-31',
 '2016-6-30',
 '2016-9-30',
 '2016-12-31',
 '2017-3-31',
 '2017-6-30',
 '2017-9-30',
 '2017-12-31',
 '2018-3-31',
 '2018-6-30',
 '2018-9-30',
 '2018-12-31',
 '2019-3-31',
 '2019-6-30',
 '2019-9-30',
 '2019-12-31',
 '2020-3-31',
 '2020-6-30',
 '2020-9-30',
 '2020-12-31',
 '2021-3-31',
 '2021-6-30',
 '2021-9-30',
 '2021-12-31']

In [15]:
def rankByRisePercent(df):
    """
    Ranks the stocks by the percentage risen over the entire period.
    Returns a dataframe
    """
    df_res = calcRisePercent(df)
    df_res['rank'] = pd.qcut(df_res['rise_percent'], 10, labels = False)
    return df_res

def calcRisePercent(df):
    """
    Calculates the percentage that the stock price has risen from the start of the period to the
    end. Returns a series
    """
    groupedBy = df.groupby('c')
    idx1 = groupedBy['d'].transform(min) == df['d']
    start_price = df[idx1][['c', 'p']].reset_index(drop=True).rename(columns={'p':'start_price'})
    idx2 = groupedBy['d'].transform(max) == df['d']
    end_price = df[idx2][['c', 'p']].reset_index(drop=True).rename(columns={'p':'end_price'})
    df = start_price.merge(end_price, on='c', how='inner')
    df['rise_percent'] = (df.end_price - df.start_price) / df.start_price
    return df

def getResults(df1, df2):
    df_res1 = rankByRisePercent(df1)
    df_res2 = calcRisePercent(df2)
    df_final_res = df_res2[['c', 'rise_percent']].merge(df_res1[['c', 'rank']], on='c', how='inner')
    return df_final_res.groupby('rank').mean()

def getFinalResults(df, j, k):
    df_final_res = pd.DataFrame(columns=['buy', 'sell', 'buy-sell'])
    for i in range(j, len(QUARTERS)-k):
        df_lookback = df[(df['d'] <= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d')) &\
                         (df['d'] >= pd.to_datetime(QUARTERS[i-j], format='%Y-%m-%d') + pd.Timedelta(days=1))]
        df_forward = df[(df['d'] <= pd.to_datetime(QUARTERS[i+k], format='%Y-%m-%d')) &\
                        (df['d'] >= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d') + pd.Timedelta(days=1))]
        df_res = getResults(df_lookback, df_forward)
        df_final_res.loc[len(df_final_res.index)] = [df_res.iloc[-1,1]/3, df_res.iloc[0,1]/3, \
                                                     df_res.iloc[-1,1]/3-df_res.iloc[0,1]/3]
    return df_final_res

def getFinalResultsWeek(df, j, k):
    df_final_res = pd.DataFrame(columns=['buy', 'sell', 'buy-sell'])
    for i in range(j, len(QUARTERS)-k):
        df_lookback = df[(df['d'] <= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d')) &\
                         (df['d'] >= pd.to_datetime(QUARTERS[i-j], format='%Y-%m-%d') + pd.Timedelta(days=1))]
        df_forward = df[(df['d'] <= pd.to_datetime(QUARTERS[i+k], format='%Y-%m-%d') + pd.Timedelta(days=7)) &\
                        (df['d'] >= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d') + pd.Timedelta(days=8))]
        df_res = getResults(df_lookback, df_forward)
        df_final_res.loc[len(df_final_res.index)] = [df_res.iloc[-1,1]/3, df_res.iloc[0,1]/3, \
                                                     df_res.iloc[-1,1]/3-df_res.iloc[0,1]/3]
    return df_final_res

In [16]:
def getAllResults(df):
    df_all_res = pd.DataFrame(columns=['J'] + all_res_cols)
    df_t_stat = pd.DataFrame(columns=['J'] + all_res_cols)
    for i in range(1,5):
        temp = [i*3]
        temp_tstat = [i*3]
        for j in range(1,5):
            print(i,j)
            df_fr = getFinalResults(df, i, j)
            temp += list(df_fr.mean())
            temp_tstat.append(stats.ttest_1samp(df_fr['buy'], 0.0))
            temp_tstat.append(stats.ttest_1samp(df_fr['sell'], 0.0))
            temp_tstat.append(stats.ttest_1samp(df_fr['buy-sell'], 0.0))
        df_all_res.loc[len(df_all_res.index)] = temp
        df_t_stat.loc[len(df_t_stat.index)] = temp_tstat
    return df_all_res, df_t_stat

def getAllResultsWeek(df):
    df_all_res = pd.DataFrame(columns=['J'] + all_res_cols)
    df_t_stat = pd.DataFrame(columns=['J'] + all_res_cols)
    for i in range(1,5):
        temp = [i*3]
        temp_tstat = [i*3]
        for j in range(1,5):
            print(i,j)
            df_fr = getFinalResultsWeek(df, i, j)
            temp += list(df_fr.mean())
            temp_tstat.append(stats.ttest_1samp(df_fr['buy'], 0.0))
            temp_tstat.append(stats.ttest_1samp(df_fr['sell'], 0.0))
            temp_tstat.append(stats.ttest_1samp(df_fr['buy-sell'], 0.0))
        df_all_res.loc[len(df_all_res.index)] = temp
        df_t_stat.loc[len(df_t_stat.index)] = temp_tstat
    return df_all_res, df_t_stat

In [8]:
df_3_3 = getFinalResults(df, 1, 1)
df_3_3

         buy      sell  buy-sell
0  -0.070917 -0.085944  0.015026
1   0.107415  0.091371  0.016045
2   0.017916  0.029168 -0.011252
3  -0.012289  0.008475 -0.020764
4  -0.015715 -0.036437  0.020722
5  -0.048725 -0.033779 -0.014946
6  -0.041676 -0.045352  0.003676
7   0.002359  0.050055 -0.047697
8  -0.009329  0.006814 -0.016143
9  -0.020273 -0.023354  0.003080
10  0.004996  0.025336 -0.020340
11  0.002475  0.027705 -0.025230
12 -0.004004 -0.030874  0.026870
13  0.070478  0.056462  0.014017
14 -0.022456 -0.000471 -0.021986
15 -0.005940  0.008105 -0.014045
16  0.017091  0.023915 -0.006824
17  0.066518  0.096308 -0.029789
18 -0.014437 -0.002607 -0.011830
19  0.079984  0.182114 -0.102130
20  0.085227  0.102583 -0.017355
21 -0.095964 -0.085253 -0.010712
22  0.096484  0.155868 -0.059384
23 -0.038711 -0.022803 -0.015908
24  0.019641  0.024774 -0.005133
25 -0.023564  0.016622 -0.040186
26 -0.001898 -0.020844  0.018946
27 -0.013375 -0.013476  0.000101
28 -0.036272 -0.055402  0.019129
29  0.017041  0.011721  0.005321
30 -0.026021 -0.051300  0.025278
31 -0.003762 -0.006560  0.002798
32 -0.038636 -0.060674  0.022039
33 -0.049157 -0.019030 -0.030127
34 -0.029115 -0.019512 -0.009604
35  0.101069  0.114859 -0.013790
36 -0.049687 -0.041312 -0.008375
37 -0.014395 -0.023837  0.009442
38  0.021685  0.005775  0.015910
39 -0.025267 -0.031191  0.005924
40  0.068752  0.028994  0.039758
41  0.013320  0.030437 -0.017117
42 -0.002031 -0.033200  0.031168
43 -0.024978 -0.017370 -0.007607
44  0.039298  0.072804 -0.033506
45  0.018081 -0.001911  0.019993
46  0.011872  0.036308 -0.024437

In [254]:
df_all_res = getAllResults(df)
df_all_res

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3.0,0.002619,0.009449,-0.006829,0.011146,0.014460,-0.003314,0.020423,0.020599,-0.000176,0.025872,0.028638,-0.002766
1,6.0,0.005472,0.010165,-0.004692,0.011895,0.014038,-0.002143,0.018274,0.021070,-0.002796,0.021616,0.030532,-0.008916
2,9.0,0.002730,0.007688,-0.004958,0.008300,0.012588,-0.004289,0.013344,0.020738,-0.007394,0.019042,0.031396,-0.012354
3,12.0,0.002107,0.008436,-0.006329,0.005462,0.014006,-0.008544,0.010924,0.022915,-0.011992,0.019058,0.037286,-0.018228

In [12]:
df_all_res, df_all_res_t = getAllResults(df)
df_all_res

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3.0,0.002619,0.009449,-0.006829,0.011146,0.014460,-0.003314,0.020423,0.020599,-0.000176,0.025872,0.028638,-0.002766
1,6.0,0.005472,0.010165,-0.004692,0.011895,0.014038,-0.002143,0.018274,0.021070,-0.002796,0.021616,0.030532,-0.008916
2,9.0,0.002730,0.007688,-0.004958,0.008300,0.012588,-0.004289,0.013344,0.020738,-0.007394,0.019042,0.031396,-0.012354
3,12.0,0.002107,0.008436,-0.006329,0.005462,0.014006,-0.008544,0.010924,0.022915,-0.011992,0.019058,0.037286,-0.018228

In [13]:
df_all_res_t

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3,"(0.39419892964120345, 0.6952557812990703)","(1.1366071134542677, 0.261589172965654)","(-1.8153531364183166, 0.07599191595834351)","(1.3222721021234891, 0.19275925929794602)","(1.3344789692125651, 0.1887604611368572)","(-0.5638852367734052, 0.5756318764794022)","(1.7383426444360635, 0.08914472359541258)","(1.5896037384035557, 0.11908469854725197)","(-0.02597678303305871, 0.9793933161670816)","(1.6950623629930193, 0.09729466336571738)","(1.6205531410079728, 0.1124249450899105)","(-0.3066141066793676, 0.7606169651369905)"
1,6,"(0.7890691611294023, 0.4342093862300458)","(1.2432820040955332, 0.2202026131639043)","(-1.0717822711064289, 0.2895324221767803)","(1.273145250581991, 0.20965213192833906)","(1.281857166857426, 0.2066062946922412)","(-0.3516891000539654, 0.7267501544505116)","(1.4639699107517905, 0.1504749432462239)","(1.5895731440719751, 0.11925753361980486)","(-0.3878375444202047, 0.7000496025911487)","(1.3943265103825817, 0.17055154570163455)","(1.7538931391381387, 0.08674391613645986)","(-1.0226614430024075, 0.31232249079953833)"
2,9,"(0.3852214252221373, 0.7019293825209323)","(1.0248131042915427, 0.311052793991245)","(-1.1783317238218518, 0.2449979140235828)","(0.8340888266868035, 0.4088407427208067)","(1.1982576732215509, 0.23737953637094866)","(-0.6982520423212543, 0.48877871958336283)","(1.0514695434394579, 0.29905531899332943)","(1.6263068921503077, 0.11136528018850923)","(-1.0416224433252357, 0.3035457654995766)","(1.1598661860559043, 0.25281323474455386)","(1.8381306099572066, 0.07329586579923315)","(-1.5382842967714878, 0.1316618471657201)"
3,12,"(0.2844168027200481, 0.7774562106618986)","(1.0976722746720875, 0.27845644240864076)","(-1.349758698664604, 0.18415664733156753)","(0.5372323975148584, 0.5939421089883964)","(1.3318245287799413, 0.1901006649639945)","(-1.3412004030364868, 0.18706353730873493)","(0.8474930518321427, 0.40164067436692596)","(1.748266276580101, 0.08790309545693531)","(-1.573836708616563, 0.12321119855463318)","(1.1112228968667381, 0.27310732463640586)","(2.0835372874194977, 0.04363632264883618)","(-2.2180670262146163, 0.03229222867704134)"

In [17]:
df_all_res_week, df_all_res_t_week = getAllResultsWeek(df)
df_all_res_week

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3.0,0.004084,0.009450,-0.005366,0.012645,0.013701,-0.001056,0.021059,0.020408,0.000651,0.025811,0.026236,-0.000425
1,6.0,0.006229,0.009249,-0.003021,0.012346,0.013437,-0.001091,0.017839,0.020092,-0.002253,0.020805,0.027760,-0.006954
2,9.0,0.003472,0.008245,-0.004772,0.008533,0.012466,-0.003933,0.013331,0.020474,-0.007143,0.017379,0.029566,-0.012187
3,12.0,0.002659,0.008070,-0.005411,0.005619,0.013470,-0.007851,0.010064,0.022618,-0.012554,0.017232,0.035619,-0.018387

In [18]:
df_all_res_t_week

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3,"(0.6700971320266623, 0.5061460974820254)","(1.2553778239461935, 0.21568153636307)","(-1.4675652494319653, 0.1490269625179073)","(1.5242383240978965, 0.1344468991470634)","(1.5215481506440216, 0.135118846003089)","(-0.20559753669786376, 0.838032578165993)","(1.9419735736261754, 0.058559370430270194)","(1.687030323256964, 0.09867585691810087)","(0.10002483980396962, 0.9207789728515654)","(1.8977779126131942, 0.06445208570724899)","(1.8462564285895304, 0.07174570108097039)","(-0.055282330134085476, 0.9561696076549444)"
1,6,"(0.9790634468181009, 0.33278309691455166)","(1.2659363739266192, 0.21205065116900634)","(-0.6953105852361384, 0.49043583822942505)","(1.4047675021983725, 0.16711112611729914)","(1.4418244945078291, 0.15643214527959243)","(-0.18110041130664684, 0.8571204132530648)","(1.5838017018759383, 0.12056691335782614)","(1.6844601473954643, 0.09933900367438789)","(-0.3167229258119281, 0.7529864339562902)","(1.5120741800592046, 0.1380036167640293)","(1.9302738433765059, 0.06034374003360149)","(-0.8686654639347337, 0.3899670295739015)"
2,9,"(0.5257189119710167, 0.6017232041772569)","(1.1751517002208751, 0.2462542932512267)","(-1.1191983548635196, 0.26912828365498104)","(0.9376471400443254, 0.35366271559649665)","(1.365901022123704, 0.17907201617993024)","(-0.6348654864551366, 0.5288799489047423)","(1.148055094064641, 0.25744299947275184)","(1.710016477678341, 0.09464187834062206)","(-1.0059224422146755, 0.3202133429800509)","(1.1996631724004505, 0.23715699863721343)","(2.0472947349868083, 0.04707332290684309)","(-1.494416205068777, 0.14272413279228371)"
3,12,"(0.38599675778489945, 0.7014023368512465)","(1.1666007761057882, 0.24980100404567288)","(-1.1178071404667256, 0.26985584421922515)","(0.6255715580491273, 0.5349807032837036)","(1.418407528337037, 0.16344979238868582)","(-1.2030086931270092, 0.23571070050772297)","(0.8535128925697615, 0.3983341306251267)","(1.7928700297842992, 0.08037353013584665)","(-1.6167336442243674, 0.11360526944835247)","(1.1529859483107654, 0.25575982738468156)","(2.3227951954148587, 0.02536145955838151)","(-2.072807388168056, 0.04467625171085973)"